FunBooksAndVideos.Test/bin/
FunBooksAndVideos/bin/
FunBooksAndVideos/obj/
FunBooksAndVideos.Test/obj/
.vs/FunBooksAndVideos/v14/.suo
FunBooksAndVideos.Test/FunBooksAndVideos.Test.csproj.user
FunBooksAndVideos/.vs/FunBooksAndVideos/v14/.suo
